html,
body {
  font-size: 60px;
  font-weight: bold;
  display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  line-height: 1.43;
  margin: 0;
  padding: 0;
  color: hsl(217, 21%, 12%);
  font-family: Helvetica;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.page {
  display: grid;
  margin: 64px auto;
  width: 750px;
  grid-gap: 4px;
  background-color: #ffffff;
}

.blue {
  color: hsl(214, 100%, 71%);
}

.dark-2 {
  color: hsl(217, 13%, 35%);
}

.dark-1 {
  color: hsl(218, 15%, 52%);
}

.small {
  font-size: 36px;
}

.tiny {
  font-size: 30px;
}

.body {
  font-size: 22px;
  font-weight: normal;
  font-family: Georgia;
  margin-bottom: 24px;
  line-height: 1.83;
}

.divide {
  height: 3px;
  margin: 128px -128px;
  background-color: hsl(217, 47%, 91%);
}

video {
  width: 100%;
  max-height: 500px;
  border-radius: 4px;
  box-shadow: 0 3px 36px hsl(217, 44%, 76%);
  margin: 36px 0;
  background-color: #000000;
}

img {
  width: 100%;
  box-shadow: 0 3px 36px hsl(217, 44%, 76%);
  border-radius: 4px;
  padding: 24px;
  margin: 36px 0;
}

.menu {
  margin: 0 auto;
  display: flex;
  width: 750px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 3px solid hsl(217, 47%, 91%);
}

.menu > * {
  color: hsl(217, 21%, 12%);
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 32px;
}

.menu > *:hover {
  color: hsl(214, 100%, 59%);
  transition: 0.3s;
}

@media (max-width: 576px) {
  html,
  body {
    font-size: 32px;
  }

  .small {
    font-size: 26px;
  }

  .tiny {
    font-size: 20px;
  }

  .body {
    font-size: 20px;
  }

  .page {
    width: 100%;
    padding: 24px;
  }

  .divide {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
